# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/
build/
dist/

# Variables de entorno (¡CRÍTICO para proteger tu APOLLO_API_KEY!)
.env
.env.*

# Logs y Caché
*.log
.pytest_cache/

# Entornos de Desarrollo (IDEs)
.vscode/
.idea/
*.swp

# Data outputs (¡Vital para no subir los leads de In-Data al repo!)
data/raw/*.csv
data/processed/*.csv
data/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db